<div class="home">
  <%= month_calendar(events: (@one_days + @more_days) ) do |date, meetings| %>
    <div class="single">
      <%= date.day %>
      <% meetings.each do |meeting| %>
        <% if meeting.has_attribute?(:end_time)%>
          <div class="period">
            <i class="fa fa-tint" aria-hidden="true"></i>
          </div>
        <%else%>
          <div class="intercourse">
            <i class="fa fa-heart"></i>
          </div>
        <%end%>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= link_to "Add period", new_more_day_path, class:"add-link" %>
    <%= link_to "Add sex", new_one_day_path, class:"add-link" %>
  </div>
</div>

