<div class="show-event">
  <p>
    <strong>Sex date</strong>
    <%= one_day.start_time.to_date %>
  </p>
  <p>
    <%= link_to "Edit sex", edit_one_day_path(one_day), class:"edit-link" %>
  </p>
</div>
