<h1>Editing sex</h1>

<%= render "form", one_day: @one_day %>

<br>

<div>
  <%= link_to "Delete period", @mone_day, data: { turbo_method: :delete }, class:"add-link" %>
  <%= link_to "Back to events", show_path, class:"add-link" %>
</div>
