<div id="<%= dom_id more_day %>">
  <p>
    <strong>Name:</strong>
    <%= more_day.name %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= more_day.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= more_day.end_time %>
  </p>

</div>
