<div class="show-event">
  <p>
    <strong>Period start date:</strong>
    <%= more_day.start_time.to_date %>
  </p>

  <p>
    <strong>Period end date:</strong>
    <%= more_day.end_time.to_date %>
  </p>
  <p>
    <%= link_to "Edit period", edit_more_day_path(more_day), class:"edit-link" %>
  </p>

</div>
