<h1>Editing period</h1>

<%= render "form", more_day: @more_day %>

<br>

<div>
  <%= link_to "Delete period", @more_day, data: { turbo_method: :delete }, class:"add-link" %>
  <%= link_to "Back to events", show_path, class:"add-link" %>
</div>
