html,
body {
  height: 100%;
  font-family: Bradley Hand, cursive;
  background-image: url('/assets/annie-spratt-4wz1YsANFB0-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  height: 100%;
  display: grid;
  place-items: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #9400FF;
}

a:hover {
  color: #8219CF;
}

.add-link {
  background-color: #fff;
  color: #111;
  padding: 0.5em;
  border: 3px solid #9400ff;
  -webkit-box-shadow: 8px 8px 24px -15px rgba(148, 0, 255, 1);
  -moz-box-shadow: 8px 8px 24px -15px rgba(148, 0, 255, 1);
  box-shadow: 8px 8px 24px -15px rgba(148, 0, 255, 1);
}

.add-link:visited {
  color: #111;
}

form {
  display: grid;
  place-items: center;
  background-color: #fff;
  padding: 1em;
  border: 3px solid #9400ff;
  -webkit-box-shadow: 8px 8px 24px -15px rgba(148, 0, 255, 1);
  -moz-box-shadow: 8px 8px 24px -15px rgba(148, 0, 255, 1);
  box-shadow: 8px 8px 24px -15px rgba(148, 0, 255, 1);
}

h1 {
  background-color: #fff;
  width: fit-content;
  padding: 0.1em;
  border: 3px solid #9400ff;
  -webkit-box-shadow: 8px 8px 24px -15px rgba(148, 0, 255, 1);
  -moz-box-shadow: 8px 8px 24px -15px rgba(148, 0, 255, 1);
  box-shadow: 8px 8px 24px -15px rgba(148, 0, 255, 1);
}

.date-time select:nth-child(1) {
  background-color: #fff;
  border: 2px solid #9500ff7b;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}
.date-time select:nth-child(2) {
  background-color: #fff;
  border: 2px solid #9500ff7b;
  padding: 0.5em;
}
.date-time select:nth-child(3) {
  background-color: #fff;
  border: 2px solid #9500ff7b;
  padding: 0.5em;
}

.submit-btn {
  background-color: #fff;
  border: 2px solid #9500ff7b;
  padding: 0.5em;
  cursor: grab;
}

.show-event {
  background-color: #fff;
  padding: 0.5em;
}

.show-events {
  background-color: #fff;
  margin: 1em;
  display: block;
  border: 3px solid #9400ff;

}

.edit-link {
  color: #111;
  margin: 0;
}

.edit-link:visited {
  color: #111;
}

p {
  margin: 0;
  margin-bottom: 1em;
}